<nav class="navbar navbar-dark align-items-start sidebar toggled sidebar-dark accordion bg-dark p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-money-check-alt"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Elec-Bill</span></div>
    </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" href="./"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" href="show_clients.php"><i class="fas fa-table"></i><span>Clients</span></a></li>
            <li class="nav-item"><a class="nav-link" href="all-consommations.php"><i class="fas fa-table"></i><span>Consommations</span></a></li>
            <li class="nav-item"><a class="nav-link" href="reclamations.php?type=not_answered"><i class="fas fa-table"></i><span>Réclamations</span></a></li>
            <li class="nav-item"><a class="nav-link" href="annual_verification.php"><i class="fas fa-table"></i><span>Faire la vérification annuel</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
